@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); 
:root{
    --primary-color:grey; 
    --primary-color-dark:black; 
    --white:white;
    --max-width:1200px;
}
*{
    padding:0; 
    margin:0; 
    box-sizing:border-box; 
}
a{
    text-decoration: none;
    transition: 0.3s;
}
ul{
    list-style:none;
}
body{
    font-family: "Robot",sans-serif;
    background-color: black;
}

.main{
    position:relative; 
    isolation:isolate; 
    min-height:100vh; 
    min-width: 100vw;
    background-image:url(./myanimepic.png);
    background-position:right;
    background-size: 40%;
    background-repeat:no-repeat;
    background-color:black ; 
}
.main.before{
    position:absolute; 
    content:""; 
    inset:0; 
    opacity:1; 
    background-color: black; 
    z-index:999;
    animation: main-slider 2s ease-in-out forwards;
}
@keyframes main-slider {
    90%{
        opacity:0; 
        trnasfrom:translatex(0);
    }
    100%{
        opacity:0; 
        transform:translatex(-100%);
    }
}
nav{
    position:fixed; 
    isolation: isolate; 
    width:100%; 
    z-index:9;
}
.nav__header{
    padding:.75rem 1 rem; 
    width:100%; 
    display:flex; 
    align-items:center;
    justify-content:space-between; 
    background-color: var(--primary-color);
}
.nav_header {
    max-width: 75px;
    font-weight:700;
    font-size:1rem;
    color:wheat; 
    font-family: "Robot Slab",sans-serif;

}
.nav__menu__btn{
    font-size:1.5rem; 
    color:var(--white);
    cursor:pointer; 
}
.nav_links{
    position:absolute; 
    bottom:0; 
    left:0; 
    width:100%; 
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem; 
    padding:2rem; 
    background-color:var(--primary-color); 
    transition: transform .5s; 
    z-index: -1;
}
.nav_links.open{
    transform:translateY(100%);
}
.nav_links a{
    color:white; 
    white-space:nowrap;
    border-bottom:1px solid ;

}

.header_container{
    max-width: var(--max-width);
    margin:auto; 
    padding: 5rem 1rem;
}

.header_container h1{
    font-size: 4rem;
    margin-bottom: 2rem; 
    display:flex;
    align-items:flex-end; 
    gap:1rem; 
    flex-wrap:wrap; 
    font-weight:500 ;
    color: var(--white); 
    font-family: "Robot Slab",sans-serif;
}
.header_container h1 span{
    display:flex; 
    align-items: flex-end;
    gap: 1rem;
    color:wheat;
    font-family: "Robot Slab" sans-serif;
}
.header_container h4{
    font-size:3rem;
    margin-bottom: 2rem; 
    display:flex;
    align-items:flex-end; 
    gap:0 1rem; 
    flex-wrap:wrap; 
    font-weight:500 ;
    color:wheat; 
    font-family: "Robot Slab",sans-serif;
}

/* .header_container h4 span{
    font-size: 6rem; 
    line-height: 6rem;
} */
.header_container p{
    margin-bottom:5rem; 
    max-width:calc((var(--max-width))/2);
    color:white;
}

button{
    padding:1.5rem 2rem; 
    margin-top:1.5rem; 
    outline:none; 
    font-size:1rem; 
    font-family:"Roboto",sans-serif;
    color:white;
    background-color:transparent;
    border-color: wheat;
    border:0.2rem solid wheat;
    border-radius:0.25rem;
    transition:0.3s; 
    cursor:pointer;
}
button:hover{
    transform: scale(1.3) ;
    box-shadow: 0 0 25px wheat;
    background-color:wheat;
    cursor: pointer;

 }
@media(width>540px)
{
    .header_container h2 span:nth-child(1){
        font-size:8rem; 
        line-height:7.5rem; 

    }
}
@media(width>768px)
{
       nav{
        position:static; 
        padding:2rem 1rem; 
        max-width: var(--max-width); 
        margin-inline:auto; 
        display:flex; 
        align-items:flex-start; 
        gap:3rem; 
       }
        .nav__header{
        width: fit-content;
        padding:0; 
        background-color: transparent;
       }
        .nav__logo a img{
         max-width: 120px
      }
      .nav__menu__btn{
         display:none;
      }
      .nav_links{
        position: static;
        width:fit-content;
        padding:0;
        flex-direction:row;
        gap:3 rem; 
        background-color:transparent;
        transform: none !important ;
      }
   
      .nav_links a:hover{
        color:wheat;
        transform: scale(1.3);
      }
}
.header_container h1 span:nth-child(1){
font-size:5rem;
line-height:4rem;
}
.sociallinks{
    /* height:-90px; */
    position:absolute;
    bottom:-1rem;
    left:1rem;

}

.sociallinks a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width: 3rem; 
    height: 3rem;
    background-color:transparent;
    border:0.2rem solid wheat; 
    font-size:2rem;
    border-radius:50%; 
    margin:1rem 1rem 1rem 0;

    transition:0.3s ease;
    color:white;
}
.sociallinks a:hover{
    color:white;
    transform: scale(1.3) translate(-5px);
    background-color: wheat;
    box-shadow: 0 0 25px wheat;
}