*{
    margin:0;
    padding:0; 
    box-sizing:broder-box; 
    font-family: 'Times New Roman', Times, serif;
}

 body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#f4f4f4;
 }
 .profilecard{
    max-width:370px; 
    width:100%; 
    background:white; 
    border-radius:24px;
    border-color: rgb(15, 186, 244);
    box-shadow: rgb(0, 0, 0,0.1);
    padding:5px;
    margin-top:15px
 }
.pfp{
    position:relative; 
    height:200px; 
    width:200px; 
    border-radius:50% ;
    background-color: lightblue;
    padding:3px;
    color: solid blue; 
    align-items: center; 
}
.myname{
    margin:5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mydesignation{
    text-align:center; 
    font-family: 'Courier New', Courier, monospace;
}
.viewproject_button{
    margin-top: 5px;
    text-align:center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex; 
    justify-content:center;
    color:blue; 
    border-radius:50%; 
    margin:0 8px; 
    background:solid blue; 
    text-decoration:non;
}
.message_button{
    margin-top:5px; 
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex; 
    justify-content:center;
    color:blue; 
    border-radius:50%; 
    margin:0 8px; 
    background:solid blue; 
    text-decoration:non;
    border:3px; 
    
}
.myimage{
    position: relative;
    align-items: center;
}
/* .mysocials{
    padding:2px; 
    margin-top:2px; 
} */
/* .mylinkdin{
    padding:5px; 
    margin:5px;
    flex:right end; 
} */