@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    padding:0; 
    margin:0; 
    box-sizing:border-box;
    font-family:Outfit; 
}

body{
    background:#dadada;
}

a{
    text-decoration: none; 
    color:inherit;
}
nav{
    display:flex; 
    align-items: center;
    justify-content: space-between;
    background:#131921;
    padding: 10px 20px; 
    color:#fff;
}
.nav-country{
    display:flex; 
    align-items:end; 
    margin-left:15px; 
    font-size:13px; 
    color: #c4c4c4;
}

.nav-country h1{
    color:#fff; 
    font-size:14px;
}

.nav-search{
    flex:1; 
    display:flex; 
    align-items:center; 
    background: white;
    color:gray; 
    max-width:100px; 
    border-radius:4px; 
    margin-left:15px;
}

.nav-search-gatergory{
    display:flex; 
    align-items:center; 
    padding:10px 20px; 
    gap:5px; 
    background:#e5e5e5;
    border-radius: 4px 0 0 4px;
}

.nav-search-input{
    border:none; 
    outline:none; 
    padding-left:20px; 
    width:100%;
}

.nav-search-icon{
    max
}



