@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.root{
    --primary-color:grey;
    --primary:color-dark:#0d1a20;
    --secondary-color:black;
    --white:white;
}

*{
    padding:0; 
    margin:0; 
    box-sizing:border-box;
}

body{
    font-family: 'poppins',sans-serif; 
    background-image: linear-gradient(to right bottom , light grey , #0d1a20);

}

.contianer{
    min-height:100vh;
    max-width:1300px; 
    margin:auto; 
    padding: 1rem; 
    display:flex; 
    flex-direction:column ;
}


.nav{
    padding:1rem 0; 
    display:flex; 
    align-items:center; 
    justify-content: space-between;

}

.logo{
    font-size: 1.5rem;
    font-weight:600; 
    color:var(--white);
    cursor:pointer; 

}

.links{
    display: flex; 
    align-items:center; 
    gap:2rem;

}

.links div{
    font-size: 0.9rem; 
    font-weight:500; 
    color:black;
    cursor:pointer; 
    transition:0.3s;
}

.links div:hover{
    color:gold;
}

.links .shopping__cart{
    height:50px; 
    width:50px; 
    display:grid; 
    place-content:center; 
    border-radius:100%; 
    font-size:1.2rem; 
    color:white; 
    background-color:black;
}

.image{
    width:70%; 
    animation:shoe-animation 3s infinite;
    overflow:hiden;
}

.image img{
    width:100%; 
    max-width:800px; 
    display:flex; 
    margin:auto;
    transform:rotate(-20deg);
}

@keyframes shoe-animation {
    0%{
        transform:translateY(0px);
    }
    70%{
        transform:translateY(15px);
    }
    100%{
        transform:translateY(0px);
    }
}

.header{
    position: absolute; 
    top:7rem; 
    left:70%; 
    transform:translateX(-50%);
}

.header h1{
    font-size: 3rem;
    font-weight:600 ;
    color:var (--white);
}


.header{
    text-align: right; 
    color:var(--white);
    cursor:pointer; 
    transition:0.3s;
}

.header p:hover{
    color:gold;
}

.featured_item{
    top:25rem;
    left:60rem;
    position:absolute;
    transform: rotate(90deg);

}

.featured_item h4{
    font-size:1.5rem; 
    font-weight:600; 
    line-height:1.5rem; 
    color:black;
}
.featured_item p{
    color:black;

}

.featured_item p:hover{
    color:gold;
}

.contact{
    position:absolute;
    right:0;
    bottom:2rem;
    display:flex; 
    align-items:center;
    gap:1rem;
    transform: rotate(-90deg);
}

.contact span{
  height:40px; 
  width:40px; 
  display:grid; 
  place-content:center;
  border-radius:50%; 
  font-size:1.2rem; 
  color:white;
  background-color:black;
  transform:rotate (90deg);
}

.footer{
    padding:3rem 0; 
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:9rem; 
    margin:2rem;
    /* white-space: 10rem; */

}

.socials{
 display:flex; 
 align-items:center; 
 gap:1rem;
}

.socials span{
    font-size: 1rem;
    font-weight: 500;
    color:var(--white);
    cursor: pointer; 
    transition:0.3s;
}

.socials span:hover{
    color:var(--secondary-color);
}

.slides{
    position: absolute;
    top:30rem;
    left:50rem;
    z-index:10;
    font-size: 3rem;
    font-weight: 600;
    color:black;
}

.slideds span{
    font-size: 1rem;
    font-weight:400;

}


@media (width<640px)
{
    .links div:not(.shopping__cart)
    {
        display:none;
    }
    .header{
    top:1rem;
    }
   .featured_item{
    left:-5rem;
    }
    .contact{
    right:-4rem;
    }
}